BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 2
ColumnLimit: 63

Language: Cpp
NamespaceIndentation: All
IndentAccessModifiers: true
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Left
